<!DOCTYPE html>
<html>
<head>
  <title>Mark Meacham - Ruby on Rails Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="full_page_wrapper container">
	<div class="nav-bar">
		<%= link_to image_tag('linkedin.png', alt: "LinkedIn Logo"), "http://linkedin.com/in/markdmeacham", target: :_blank, title: "Go to Mark Meacham's LinkedIn Profile" %>
		<%= link_to image_tag('github.png', alt: "GitHub Logo"), "http://github.com/MarkDMeacham", target: :_blank, title: "Go to Mark Meacham's GitHub Profile" %>
		<%= mail_to "mark.d.meacham@gmail.com", image_tag("email.png"), title: "Contact Mark", subject: "Contact Request from Website", style: "margin-left: 5px;" %>
	</div>
	<%= yield %>
</div>

</body>
</html>
